<html ng-app= "countryApp">
	<head>
		<meta charset="utf-8">
		<title>Angular.js Example</title>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
		<script>
			var countryApp = angular.module('countryApp', []);

			angular.module('countryApp', []).controller('CountryCtrl', function ($scope){
				$scope.countries = [
					{"name": "China", "population:": 34578},
					{"name": "Israel", "population": 2344325},
					{"name": "Canada", "population":23}
				]

				$scope.addCountry = function(){
					$scope.countries.push($scope.enteredCountry);
					$scope.enteredCountry = '';
				};

				$scope.removeCountry = function(country){
					var i = $scope.countries.indexOf(country);
					$scope.countries.splice(i,1);
				};
			})
		</script>
	</head>
	<body ng-controller= 'CountryCtrl'>
		<ul>
			<li ng-repeat="country in countries">
				{{country.name}} - population {{country.population}}
				<a href="" ng-click="removeCountry(country)">remove</a>
			</li>
		</ul>
	</body>
</html>